 @model T5_Hospital.Models.ViewModels.UpdateDonor

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Update Donor</h2>
        <form class="form-horizontal" action="/Donor/Edit/@Model.SelectedDonor.DonorId" method="POST">
            <div style="display:none;">
                @* Pass through the Donor ID *@
                <input type="text" name="donorId" value="@Model.SelectedDonor.DonorId">
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="donorFirstName">First Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="donorFirstName" name="donorFirstName" value="@Model.SelectedDonor.DonorFirstName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="donorLastName">Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="donorLastName" name="donorLastName" value="@Model.SelectedDonor.DonorLastName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="donorEmail">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" type="email" id="donorEmail" name="donorEmail" value="@Model.SelectedDonor.DonorEmail">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="donorPhone">Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" type="tel" id="donorPhone" name="donorPhone" value="@Model.SelectedDonor.DonorPhone">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-default" type="submit">Update Donor</button>
                </div>
            </div>
        </form>
    </div>
</div>