@model T5_Hospital.Models.ViewModels.UpdateAppointment

@{
    ViewBag.Title = "Edit";
}


<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Update Appointment</h2>
        <form class="form-horizontal" action="/Appointment/Edit/@Model.Appointment.Id" method="POST">
            <div style="display:none;">
                @* Pass through the Donor ID *@
                <input type="hidden" name="Id" value="@Model.Appointment.Id" />
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="PatientId">Patient</label>
                <div class="col-sm-8">
                    <select name="PatientId" id="PatientId">
                        @foreach (var patient in Model.AvailablePatient)
                        {
                            if (Model.Appointment.PatientId == patient.PatientId)
                            {
                                <option selected value=@patient.PatientId> @patient.FirstName @patient.LastName (id:@patient.PatientId)</option>

                            }
                            else
                            {
                                <option value=@patient.PatientId> @patient.FirstName @patient.LastName (id:@patient.PatientId)</option>
                            }


                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="StaffId">Staff</label>
                <div class="col-sm-8">
                    <select name="StaffId" id="StaffId">
                        @foreach (var staff in Model.AvailableStaff)
                        {
                            if (Model.Appointment.StaffId == staff.Id)
                            {
                                <option selected value=@staff.Id> @staff.Name (Department:@staff.DepartmentName)</option>
                            }
                            else
                            {
                                <option value=@staff.Id> @staff.Name (Department:@staff.DepartmentName)</option>

                            }

                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="AppointmentDate">Appointment Date</label>
                <div class="col-sm-8">
                    <input id="AppointmentDate" name="AppointmentDate" value="@Model.Appointment.AppointmentDate" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-default" type="submit">Update Appointment</button>
                    <a href="/Appointment/Details/@Model.Appointment.Id" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>