@model T5_Hospital.Models.ViewModels.NewVisitation
@{
    ViewBag.Title = "New Visitation Record";
}

<h2>New Visitation Record</h2>

<form method="post" action="/Visitation/Create">
    <div>
        <label for="arrivateDate">Arrival Date</label>
        <input id="arrivateDate" type="date" min="@DateTime.Now" name="ArrivalDate" />
    </div>
    <div>
        <label for="departureDate">Departure Date</label>
        <input id="departureDate" type="date" min="@DateTime.Now" name="DepartureDate" />
    </div>
    <div>
        <label for="visitor">Visitor</label>
        <select id="visitor" name="VisitorId">
            @foreach(var visitor in Model.CurrentVisitors)
            {
                <option value="@visitor.VisitorId">@visitor.FirstName @visitor.LastName</option>
            }
        </select>
    </div>
    <div>
        <label for="patient">Patient</label>
        <select id="patient" name="PatientId">
            @foreach(var patient in Model.CurrentPatients)
            {
                <option value="@patient.PatientId">@patient.FirstName @patient.LastName</option>
            }
        </select>
    </div>
    <div>
        <label for="relationToVisitor">Relation To Visitor</label>
        <input id="relationToVisitor" type="text" name="RelationToVisitor" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
</form>