@model T5_Hospital.Models.ViewModels.DetailsPatient
@{
    ViewBag.Title = "Patient Details";
}

<h2>Patient Details</h2>

<a class="btn btn-default" href="/Patient/List">Go back</a>
<a class="btn btn-primary" href="/Patient/Edit/@Model.SelectedPatient.PatientId">Edit</a>
<a class="btn btn-danger" href="/Patient/Remove/@Model.SelectedPatient.PatientId">Remove</a>
<br />
<br />

<b>Patient Name: </b><p>@Model.SelectedPatient.FirstName @Model.SelectedPatient.LastName</p>
<b>Patient DoB: </b><time datetime="@Model.SelectedPatient.DateOfBirth">@Model.SelectedPatient.DateOfBirth</time>

<br />
<br />
<h3>Patient Appointments</h3>
<a class="btn btn-primary" href="/Appointment/New">Add Appointment</a>
<table class="table table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">Appointment Date</th>
            <th class="text-center">Staff Name</th>
            <th class="text-center">Department</th>
            <th colspan="2">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model.Appointments)
        {
        <tr>
            <td>@appointment.AppointmentDate</td>
            <td>@appointment.StaffName</td>
            <td>@appointment.StaffDepartmentName</td>
            <td>
                <a href="/Appointment/Details/@appointment.Id">Details</a>
            </td>
            <td>
                <a href="/Appointment/Remove/@appointment.Id">Remove</a>
            </td>
        </tr>
        }
    </tbody>
</table>

